[tool.poetry]
name = "intake-formats"
version = "0.1.0"
description = "SEKOIA.IO Intake Formats"
authors = []

[tool.poetry.dependencies]
python = "^3.10"
pytest = "^7.2.2"
requests = "^2.28.2"
PyYAML = "^6.0"
pytest-clarity = "^1.0.1"
cookiecutter = "^2.1.1"
typer = "^0.7.0"
orjson = "^3.8.7"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
