name: Show Smart Descriptions

on:
  pull_request:
    branches: [main]

  workflow_dispatch:

defaults:
  run:
    working-directory: utils

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        id: setup-python
        with:
          python-version: "3.10"

      - name: Install Poetry
        run: |
          pip install poetry
          poetry config virtualenvs.in-project true

      - name: Install dependencies
        run: |
          poetry install --only main

      - name: Generate smart descriptinos
        id: smartdesc
        run: |
          poetry run python show_smart_descriptions.py --changes --prsha=$GITHUB_SHA >> /tmp/pr_comment.md
      
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: pr_comment.md
          path: /tmp/pr_comment.md
